.shadowrunImg{
    min-height: '20px';
    min-width: '20px';
}

.personalData{
    width: '18rem';
    position: relative;
    padding-right: '85px 85px';
    box-shadow: '5px';
}

/* .personalDataBox{
    padding-right: '30px 85px';
    box-shadow: '5px';
} */

.attributes{
    width: '18rem';
}